/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    font color: #FFFFFF;
}

/* Cover portion Styles */
.cover_portion{
    background-color: #2D25A0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.right-side-of-cover img{
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 153px;
    margin-bottom: 86px;
}
.left-side-of-cover{
    display: flex;

}
.cover-name{
    color: #FFFFFF;
    width: 485px;
    height: 230px;
    margin-top: 208px;
    margin-bottom: 239px;
    margin-left: 156px;
    margin-right: 102px;
}
.cover-name h1{
    font-size: 64px;
    margin-bottom: 28px;
}
.button{
    padding:10px 24px;
    margin-top: 464px;
    margin-bottom: 169px;
    margin-left: 156px;
    font-weight: 500;
    background-color: #E02C6D; 
}
.button a{
    text-decoration: none;
    color:#FFFFFF;
}
.fa-directions{
    color: #FFFFFF;
    padding-left: 4px;
}


